{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Admin
{% endblock %}

{% block content %}
<main class="admin-container">
  <div class="container-fluid admin-page">
    <h1 class="pt-5 pt-lg-20 text-center">Espace administrateur</h1>
    <p class="text-center">Vous souhaitez modifier la valeur d'une question ? C'est par ici !</p>
    
    
      <div class="accordion accordion-flush container-fluid" id="accordionFlushExample">
      {% for items in values|batch(4) %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
            data-bs-target="#flush-collapse{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapse{{ loop.index }}">
            Question {{ loop.index }}
            </button>
          </h2>
          <div id="flush-collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body row row-cols-1 row-cols-md-4">
            {% for value in items %}
            <form method="post" class="d-flex flex-column align-items-center">
              <p>{{ value.label }} : <span class="oldAnswerValue">{{value.answer_value}}</span>
              </p>
              <p class="d-flex flex-column align-items-center">
                    <input type="hidden" id="id" name="id" value="{{ value.id }}">
                    <label for="answer_value">Nouvelle valeur de réponse :</label>
                    <input class="input-group-text m-2" type="number" step=".01" id="answer_value" name="answer_value">
                    <input class="btn btn-change-value m-2 center" type="submit" value="Modifier la valeur">
              </p>
            </form> 
            {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
  </div>
    
</main>
{% endblock %}