{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Affichage
{% endblock %}

{% block content %}

	<main class="admin-container">
		<div class="container-fluid admin-page">
			<div class="d-flex justify-content-center">
				<div class="pageTitleContainer">
					<h1 class="pageTitle pt-5 pt-lg-20 text-center">Espace administrateur</h1>
					<p class="pageSubtitle text-center">Tous les resultats !</p>
				</div>
			</div>


			<div class="accordion accordion-flush container-fluid" id="accordionFlushExample">
				{% for result in results %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapse{{ loop.index }}">
								<h3>
									Questionnaire n°{{ loop.index }}
									[{{ result.date }}]</h3>

							</button>
						</h2>
						<div id="flush-collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body row row-cols-1 row-cols-md-4">
								<table>
									<tr>
										<td class="display-4">Question 1</td>
										<td class="display-4">{{ result.q1 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 2</td>
										<td class="display-4">{{ result.q2 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 3</td>
										<td class="display-4">{{ result.q3 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 4</td>
										<td class="display-4">{{ result.q4 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 5</td>
										<td class="display-4">{{ result.q5 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 6</td>
										<td class="display-4">{{ result.q6 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 7</td>
										<td class="display-4">{{ result.q7 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 8</td>
										<td class="display-4">{{ result.q8 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 9</td>
										<td class="display-4">{{ result.q9 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 10</td>
										<td class="display-4">{{ result.q10 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 11</td>
										<td class="display-4">{{ result.q11 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 12</td>
										<td class="display-4">{{ result.q12 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 13</td>
										<td class="display-4">{{ result.q13 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 14</td>
										<td class="display-4">{{ result.q14 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 15</td>
										<td class="display-4">{{ result.q15 }}</td>
									</tr>
									<tr>
										<td class="display-4">Question 16</td>
										<td class="display-4">{{ result.q16 }}</td>
									</tr>
									<tr>
										<td class="display-4">Total (en Kg eq. CO2)</td>
										<td class="display-4">{{ result.fp_total }}</td>
									</tr>
							</table>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
