{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Affichage
{% endblock %}

{% block content %}

	<main class="admin-container">
		<div class="container-fluid admin-page">
			<div class="d-flex justify-content-center">
				<div class="pageTitleContainer">
					<h1 class="pageTitle pt-5 pt-lg-20 text-center">Espace administrateur</h1>
					<p class="pageSubtitle text-center">Tous les resultats !</p>
				</div>
			</div>


			<div class="accordion accordion-flush container-fluid" id="accordionFlushExample">
				{% for result in results %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapse{{ loop.index }}">
								<h3>
									Questionnaire n°{{ loop.index }}
									[{{ result.date }}]</h3>

							</button>
						</h2>
						<div id="flush-collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body row row-cols-1 row-cols-md-4">
								<div class="tableContainer">
									<table>
										<tr>
											{% for i in 1..16 %}
												<td class="table-results">Question
													{{ i }}</td>
											{% endfor %}
											<td class="table-results">Total (en Kg eq. CO2)</td>
										</tr>
										<tr>
											<td class="table-results">{{ result.q1|slice(9, 10) }}</td>
											<td class="table-results">{{ result.q2|slice(9, 10) }}</td>
											<td class="table-results">{{ result.q3|slice(9, 10) }}</td>
											<td class="table-results">{{ result.q4|slice(9, 10) }}</td>
											<td class="table-results">{{ result.q5|slice(9, 10) }}</td>
											<td class="table-results">{{ result.q6|slice(9, 10) }}</td>
											<td class="table-results">{{ result.q7|slice(9, 10) }}</td>
											<td class="table-results">{{ result.q8|slice(9, 10) }}</td>
											<td class="table-results">{{ result.q9|slice(9, 10) }}</td>
											<td class="table-results">{{ result.q10|slice(10, 11) }}</td>
											<td class="table-results">{{ result.q11|slice(10, 11) }}</td>
											<td class="table-results">{{ result.q12|slice(10, 11) }}</td>
											<td class="table-results">{{ result.q13|slice(10, 11) }}</td>
											<td class="table-results">{{ result.q14|slice(10, 11) }}</td>
											<td class="table-results">{{ result.q15|slice(10, 11) }}</td>
											<td class="table-results">{{ result.q16|slice(10, 11) }}</td>
											<td class="table-results">{{ result.fp_total }}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</main>
	{% endblock %}
