{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}
	- Stats
{% endblock %}

{% block content %}

	<main class="mainStatsContainer flex-column d-flex align-items-center">
		<div class="adminTitleContainer">
			<h1 class="display-1">Statistiques</h1>
		</div>
		<div class="container-fluid statsContainer">
			<div id="sumAnswers">
				<h2 class="display-2">Nombre de répondants</h2>
				<p class="statsTitle">{{ total.increment }}</p>
			</div>
			<div id="globalAverage d-flex">
				<h2 class="display-2">Total des émissions</h2>
				<p class="statsTitle">{{ total.sum }}
					kg eq. CO2</p>
			</div>
			<div id="globalAverage d-flex">
				<h2 class="display-2">Moyenne globale</h2>
				<p class="statsTitle">{{ totalAvg }}
					kg eq. CO2</p>
			</div>
			<div id="averageByCategory">
				<h2 class="display-2">Moyenne par catégorie</h2>

				<canvas id="myChart"></canvas>
		
				<p id="food" class="d-none">{{ totalCatArray[0]}}</p>
				<p id="accommodation" class="d-none">{{ totalCatArray[1]}}</p>
				<p id="transport" class="d-none">{{ totalCatArray[2]}}</p>
				<p id="digital" class="d-none">{{ totalCatArray[3]}}</p>

			</div>
		</div>
	</main>
{% endblock %}

{% block javascript %}
	{{parent()}}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="text/javascript" src="../assets/js/stats.js"></script>
{% endblock %}
