{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Calculateur
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/styleadmin.css">
{% endblock %}

{% block content %}

	<main class="question-container">
		<div class="calculatorMainTitleContainer">
			<h1 class="display-1 calculatorMainTitle">Calculez votre empreinte carbone</h1>
		</div>
		<form action="results" method="post">

			{% for question in questions %}
				<div class="d-flex justify-content-center">
					<div class="question container-sm">
						<div>
							<p>
								<h2 class="questionTitle">
									{{ loop.index }}.
									{{ question.title }}
								</h2>
							</p>

							<p class="form-check questionChoice">
								<input class="form-check-input" type="radio" id="choice1" name="q{{ loop.index }}" value="q{{ loop.index }}_choice1" required>
								<label class="form-check-label" for="q{{ loop.index }}">{{ question.choice1 }}</label>
							</p>

							<p class="form-check questionChoice">
								<input class="form-check-input" type="radio" id="choice2" name="q{{ loop.index }}" value="q{{ loop.index }}_choice2" required>
								<label class="form-check-label" for="q{{ loop.index }}">{{ question.choice2 }}</label>
							</p>

							<p class="form-check questionChoice">
								<input class="form-check-input" type="radio" id="choice3" name="q{{ loop.index }}" value="q{{ loop.index }}_choice3" required>
								<label class="form-check-label" for="q{{ loop.index }}">{{ question.choice3 }}</label>
							</p>

							<p class="form-check questionChoice">
								<input class="form-check-input" type="radio" id="choice4" name="q{{ loop.index }}" value="q{{ loop.index }}_choice4" required>
								<label class="form-check-label" for="q{{ loop.index }}">{{ question.choice4 }}</label>
							</p>

							<div class="btnHidden">
								<input class="btn btn-arrow" type="button" value="←">
								<p>{{ loop.index }}/16</p>
								<input class="btn btn-arrow" type="button" value="→">
							</div>
						</div>
					</div>

					<div class="funfact w-25 d-none d-lg-block">
						<h2>Le saviez-vous ?</h2>
						<p>{{ question.fact }}</p>
					</div>
				</div>
			{% endfor %}

			<p class="d-flex justify-content-center submitButton">
				<input class="btn QuestionButton" type="submit" value="Soumettre"/>
			</p>

		</form>
	</main>

{% endblock %}
