{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Calculateur
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/styleadmin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
{% endblock %}

{% block content %}

<main class="question-container">
	<h1 class="display-1">Calculez votre empreinte carbone</h1>

	<div id="carouselExampleControls" class="carousel slide">
  		<div class="carousel-inner">
		  {% for question in questions %}
    		<div class="carousel-item {% if loop.index == 1 %}active{% endif %}" id="slide{{ loop.index }}">
				  <form action="resultats" method="post">
					<div class="d-flex justify-content-center">
						<div class="shadow p-3 m-3 rounded question w-50">
							<div>
								<p>
									<h2>
										{{ loop.index }}.{{ question.title }}
									</h2>
								</p>
								<p class="form-check">
									<input class="calc-input form-check-input" type="radio" id="choice1-{{loop.index}}" 
									name="radio-choice" value="q{{ loop.index }}_choice1" required>
									<label class="form-check-label" for="q{{ loop.index }}-choice1">{{ question.choice1 }}</label>
								</p>
								<p class="form-check">
									<input class="calc-input form-check-input" type="radio" id="choice2-{{loop.index}}" 
									name="radio-choice" value="q{{ loop.index }}_choice2" required>
									<label class="form-check-label" for="q{{ loop.index }}-choice2">{{ question.choice2 }}</label>
								</p>
								<p class="form-check">
									<input class="calc-input form-check-input" type="radio" id="choice3-{{loop.index}}" 
									name="radio-choice" value="q{{ loop.index }}_choice3" required>
									<label class="form-check-label" for="q{{ loop.index }}-choice3">{{ question.choice3 }}</label>
								</p>
								<p class="form-check">
									<input class="calc-input form-check-input" type="radio" id="choice4-{{loop.index}}" 
									name="radio-choice" value="q{{ loop.index }}_choice4" required>
									<label class="form-check-label" for="q{{ loop.index }}-choice4">{{ question.choice4 }}</label>
								</p>
								<div class="d-flex justify-content-center">
									<p>{{ loop.index }}/16</p>
								</div>
							</div>
						</div>
						<div class="funfact shadow p-3 m-3 rounded w-25">
							<h2>Le saviez-tu ?</h2>
							<p>{{ question.fact }}</p>
						</div>
					</div>
    		</div>
			{% endfor %}
  		</div>
	</div>

		<p class="d-flex justify-content-center">
			<input class="btn btn-question" type="submit" value="Soumettre"/>
		</p>
	</form>
</main>

{% endblock %}

{% block javascript %}
{{parent()}}
<script src="../assets/script.js"></script>
{% endblock %}

