{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Calculateur
{% endblock %}

{% block stylesheet %}
	{{parent()}}
	<link rel="stylesheet" href="/assets/css/styleadmin.css">
{% endblock %}

{% block content %}

	<main class="question-container">
		<div class="container-fluid question-page">
			<div class="d-flex justify-content-center">
				<div class="pageTitleContainer">
					<h1 class="pt-5 pt-lg-20 text-center pageTitle">Calculez votre empreinte carbone</h1>
				</div>
			</div>

			<div id="carouselExampleControls" class="carouselContainer carousel slide">
				<div class="carousel-inner">
					{% for question in questions %}
						<div class="carousel-item {% if loop.index == 1 %}active{% endif %}" id="slide{{ loop.index }}">
							<form action="results" method="post">
								<div class="carousel-block d-flex justify-content-center">
									<div class="p-4 question w-50">
										<div>
											<p>
												<h2 class="questionTitle">
													{{ loop.index }}.{{ question.title }}
												</h2>
											</p>
											<div class="d-flex flex-column justify-content-end align-items-start mt-4">
												<p class="form-check questionChoice">
													<input class="{% if not loop.last %}calc-input{% endif %} {% if loop.last %}calc-final{% endif %} form-check-input" type="radio" id="q{{ loop.index }}-choice1" name="q{{ loop.index }}" value="q{{ loop.index }}_choice1" required>
													<label class="form-check-label" for="q{{ loop.index }}-choice1">{{ question.choice1 }}</label>
												</p>
												<p class="form-check questionChoice">
													<input class="{% if not loop.last %}calc-input{% endif %} {% if loop.last %}calc-final{% endif %} form-check-input" type="radio" id="q{{ loop.index }}-choice2" name="q{{ loop.index }}" value="q{{ loop.index }}_choice2" required>
													<label class="form-check-label" for="q{{ loop.index }}-choice2">{{ question.choice2 }}</label>
												</p>
												<p class="form-check questionChoice">
													<input class="{% if not loop.last %}calc-input{% endif %} {% if loop.last %}calc-final{% endif %} form-check-input" type="radio" id="q{{ loop.index }}-choice3" name="q{{ loop.index }}" value="q{{ loop.index }}_choice3" required>
													<label class="form-check-label" for="q{{ loop.index }}-choice3">{{ question.choice3 }}</label>
												</p>
												<p class="form-check questionChoice">
													<input class="{% if not loop.last %}calc-input{% endif %} {% if loop.last %}calc-final{% endif %} form-check-input" type="radio" id="q{{ loop.index }}-choice4" name="q{{ loop.index }}" value="q{{ loop.index }}_choice4" required>
													<label class="form-check-label" for="q{{ loop.index }}-choice4">{{ question.choice4 }}</label>
												</p>

												<p class="listingQuestion m-auto pt-3">{{ loop.index }}/16</p>
											</div>
										</div>
									</div>
									<div class="p-4 funfact w-25 d-none d-sm-block">
										<h2>Le saviez-vous ?</h2>
										<p>{{ question.fact }}</p>
										<a href="{{ question.source }}" target="_blank">Source</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>

				<p class="d-flex justify-content-center">
					<input class="btn" id="final-button" type="submit" value="Envoyer"/>
				</p>
			</form>
		</div>
	</main>

{% endblock %}

{% block javascript %}
	{{parent()}}
	<script src="../assets/script.js"></script>
{% endblock %}
