{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Résultats
{% endblock %}

{% block content %}
	<main id="loading">
		<div class="MainConnection">
			<div class="d-flex justify-content-center spinningMonkeContainer">
				<div class="LoginContainer">
					<div class="d-flex justify-content-center">
						<h2>Calcul des résultats...</h2>
					</div>
					<div>
						<img class="spinningMonke" src="assets/images/spinningmonke.gif"></div>
				</div>
			</div>
		</div>
	</main>

	<main class="MainResultsContainer" id="results">
		<div class="d-flex justify-content-center">
			<div class="pageTitleContainer">
				<h1 class="pt-5 pt-lg-20 text-center pageTitle">Résultats</h1>
			</div>
		</div>
		<div class="results">
			<div class="resultsContainer">
				<h1 class="resultsTitle">
					Votre empreinte carbone
				</h1>
				<div class="row">
					<div class="resultsByCategory col-sm">
						<table>
							<tr>
								<p>Alimentation :</p>
							</tr>
							<tr>
								<p class="resultBold">{{ footprintByCategory[0] | round(0, 'common') | number_format(0, ',', ' ') }}
									kg eq.CO2</p>
							</tr>
							<tr>
								<p>Transports :</p>
							</tr>
							<tr>
								<p class="resultBold">{{ footprintByCategory[1] | round(0, 'common') | number_format(0, ',', ' ') }}
									kg eq.CO2</p>
							</tr>
						</table>
					</div>

					<div class="resultsByCategory col-sm">
						<table>
							<tr>
								<p>Logement :</p>
							</tr>
							<tr>
								<p class="resultBold">{{ footprintByCategory[2] | round(0, 'common') | number_format(0, ',', ' ') }}
									kg eq.CO2</p>
							</tr>
							<tr>
								<p>Numérique :</p>
							</tr>
							<tr>
								<p class="resultBold">{{ footprintByCategory[3] | round(0, 'common') | number_format(0, ',', ' ') }}
									kg eq.CO2</p>
							</tr>
						</table>
					</div>
				</div>
				<div class="resultsTotal">
					<h2>Total</h2>
					<h2 class="resultBold">{{ (totalFootprint /1000) | round(2, 'common') | number_format(2, ',', ' ') }}
						tonnes eq.CO2</h2>
				</div>

				<div class="resultsCommentContainer">
					<p class="resultsComment">Votre résultat est
						{% if totalFootprint > 9000 %}
							<span class="resultHigher">supérieur</span>
							à la moyenne française (9 t).
						{% else %}
							<span class="resultLower">inférieur</span>
							à la moyenne française (9 t). Joli !
						{% endif %}
					</p>
					<p class="resultsComment">
						{% if totalFootprint > 9000 %}
							Il est donc très nettement
							<span class="resultHigher">supérieur</span>
							à l'objectif (2,5 t).
						{% elseif totalFootprint > 2500 and totalFootprint < 9000 %}
							Il reste cependant
							<span class="resultHigher">supérieur</span>
							à l'objectif... (2,5 t)
						{% else %}
							Il est également
							<span class="resultLower">inférieur</span>
							à l'objectif (2,5 t) !<br>Vous êtes plutôt exemplaire, dans le genre.
						{% endif %}
					</p>
				</div>

				<div class="resultsButtons">
					<a href="/calculator"><input class="resultsButton btn" type="button" value="Recommencer"></a>
					<a href="/"><input class="resultsButton btn" type="button" value="Retour à l'accueil"></a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
{% block javascript %}
	<script type="text/javascript" src="assets/js/loading.js"></script>
{% endblock %}
