{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}- Résultats
{% endblock %}

{% block content %}

	<h1>
		Votre empreinte carbone :
		{{ totalFootprint }}
		kg de CO2 par an
	</h1>

	<p>
		Par catégorie :
		<br>
		Alimentation :
		{{ footprintByCategory[0] }}
		<br>
		Transports :
		{{ footprintByCategory[1] }}
		<br>
		Logement :
		{{ footprintByCategory[2] }}
		<br>
		Numérique :
		{{ footprintByCategory[3] }}
		<br>
	</p>

{% endblock %}
